* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.canvas {
  position: relative;
  width: 90%;
  height: 90%;
  overflow: hidden;
  margin: auto;
  background: lightgray;
  border: 1px solid black;
}

.panel {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 30px;
  border-top: 1px solid black;
  bottom: 0px;
  background: rgb(128, 127, 127);
  z-index: 10;
}

.make-window {
  width: 10rem;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  background: green;
  color: white;
  user-select: none;
  border-right: 1px solid black;
}

.make-window:hover {
  background: lightgreen;
  color: black;
}

.windows {
  position: relative;
  background: lightyellow;
  height: calc(100% - 30px);
  z-index: 1;
}

.window {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 70%;
  background: lightsteelblue;
  border: 1px solid black;
  box-shadow: 2px 2px 2px gray;
}

.window-panel {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  line-height: 30px;
  width: 100%;
  border-bottom: 1px solid black;
  background: lightgrey;
}

.close-button,
.minimize-button {
  height: 100%;
  width: 35px;
  border-left: 1px solid black;
  text-align: center;
  font-weight: bold;
  user-select: none;
}

.close-button:hover,
.minimize-button:hover {
  cursor: default;
}

.window-name {
  flex-grow: 1;
  text-align: center;
  user-select: none;
}

.mini-name {
  width: auto;
  padding: 0 5px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background: lightgrey;
  border-right: 1px solid black;
  user-select: none;
}

.none {
  display: none;
}

.dark {
  background: darkgrey;
}
